<form action="{{ url_for("inserir") }}" method="post">
<label for="id"> ID: </label>
<input type="int" id="id" name="id" placeholder="Preecnha o Id do Livro">
<label for="titulo"> Titulo: </label>
<input type="text" id="titulo" name="titulo" placeholder="Preencha o titulo do livro">
<label for="genero"> Genero: </label>
<input type="text" id="genero" name="genero" placeholder="Preencha o genero do livro">
<label for="autor"> Autor: </label>
<input type="text" id="autor" name="autor" placeholder="Preencha o autor do livro">
<button type="submit">Salvar</button>